.popup {
  display: block; /* Garante que o popup seja exibido */
  position: fixed; /* Posiciona o popup na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para teste */
  display: none;
}

.popup__container {
  position: relative;
  width: 430px;
  margin: 195px auto; /* Centraliza o container verticalmente e horizontalmente */
  border-radius: 10px;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-button.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
}

.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__form {
  width: 430px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}

.popup__form-title {
  font-family: "Inter Black";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  max-width: 330px;
  width: 100%;
  background-color: white;
  margin: 34px auto 24px 36px;
}

.popup__form-input {
  font-family: "Inter Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: white;
  max-width: 358px;
  width: 100%;
  margin: 30px 36px 0;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 13px;
  color: black;
}

.popup__save-button {
  font-family: "Inter Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: white;
  max-width: 358px;
  width: 100%;
  border-radius: 2px;
  padding: 13px 124px 18px 125px;
  border: none;
  margin: 48px 36px 36px;
}

.popup__save-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .popup__container {
    max-width: 282px;
  }

  .popup__form {
    max-width: 282px;
  }

  .popup__form-title {
    max-width: 238px;
    font-size: 18px;
  }

  .popup__form-input {
    max-width: 238px;
  }

  .popup__save-button {
    max-width: 238px;
    font-size: 14px;
    padding: 14px 96px;
  }

  .popup__close-button {
    width: 26px; /* Reduz o tamanho do botão */
    height: 26px;
    background-size: 26px 26px; /* Ajusta o tamanho da imagem */
    top: -40px; /* Reposiciona para ficar visível */
    right: 0; /* Move para a borda direita do contêiner */
  }
}
