.header {
  border-bottom: 1px solid #545454;
}

.header__logo {
  margin: 45px 0 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin: 28px 0 32px 40px;
  }
}

@media screen and (max-width: 580px) {
  .header__logo {
    margin-left: 27px;
  }
}
